@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 226, 206);
}

.container {
  background-color: rgb(202, 206, 209);
  border: 2px rgb(67, 100, 100) solid;
  border-radius: 15px;
  min-height: 300px;
  min-width: 300px;
  box-shadow: 5px 10px 10px rgba(88, 88, 88, 0.5);
}

#title {
  font-family: "Lobster", cursive;
  text-align: center;
}

#form,
#form2 {
  margin: 5px;
  /* border: 2px rgb(67, 100, 100) solid; */
  border-radius: 5%;
  padding: 4px;
  text-align: center;
}

#form input,
#form2 input {
  border: none;
  width: 30ch;
  height: 1.5em;
  text-align: center;
}

#get-bmi:hover {
  background-color: aqua;
}

#result {
  width: 30ch;
  margin: 5px;
  border: 2px rgb(67, 100, 100) solid;
  border-radius: 5%;
  padding: 4px;
  display: none;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
