@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 226, 206);
}

.container {
  background-color: rgb(202, 206, 209);
  border: 2px rgb(67, 100, 100) solid;
  border-radius: 15px;
  min-height: 300px;
  min-width: 300px;
  box-shadow: 5px 10px 10px rgba(88, 88, 88, 0.5);
}

#title {
  font-family: "Lobster", cursive;
  text-align: center;
  background: #f1f1f1;
  border-radius: 15px 15px 0px 0px;
}

#form,
#form2 {
  margin: 5px;
  /* border: 2px rgb(67, 100, 100) solid; */
  border-radius: 5%;
  padding: 4px;
  text-align: center;
}

#form input,
#form2 input {
  border: none;
  width: 30ch;
  height: 1.5em;
  text-align: center;
}

#get-bmi {
  transition: background 0.5s ease-in-out, letter-spacing 0.8s;
}

#get-bmi:hover {
  background: aqua;
  letter-spacing: 1.2px;
}

#get-bmi:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#reset {
  transition: background 0.5s, letter-spacing 0.8s;
}

#reset:hover {
  background: aqua;
  letter-spacing: 1.2px;
}

#reset:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#result {
  width: 30ch;
  margin: 10px auto;
  border: 2px rgb(67, 100, 100) solid;
  border-radius: 5px;
  padding: 4px;
  display: none;
  text-align: center;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid red; */
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 7px 7px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #caced1;
}

/* sets the default to meaure to metric */
#Metric {
  display: block;
}

.err {
  visibility: hidden;
}

.err.bad {
  color: red;
}
